.m-project-item {
}

.m-project-item--header {
  font-size: var(--text-h3);
  line-height: var(--text-h3--line-height);
  text-transform: uppercase;
  font-weight: bold;
  &::after {
    counter-increment: counter+1;
    content: counter(counter) !important;
  }
}
